.button {
  display: inline-block;
  padding: 10px 20px;
  background-color:#6aaa77; /* Bright blue background color */
  color: white; /* Text color */
  border: none;
  border-radius: 5px; /* Rounded corners */
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.button:hover {
  background-color: #6aaa77; /* Slightly darker blue background color on hover */
}
.title {
  font-size: 16px;
  font-weight: bold;
  color: grey; /* You can choose a color that fits your design */
  margin-bottom: 10px;
  text-align: center;
  font-style: italic;
}
.container {
  display: flex;
  justify-content: center; /* Horizontally center content */
  align-items: center; /* Vertically center content */
  min-height: 100vh; /* Ensure the container covers the entire viewport height */
  background-color: #6aaa77; /* Just for visualization */
}
form {
  padding: 200px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
}
body {
  margin: 0;
  padding: 0;
  background-image: src('assets\front\img\thumbnail.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* You can add more styling to the body if needed */
}

.content {
  padding: 20px;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);}
  .image-container {
    width: 100%; /* Adjust as needed */
    max-width: 600px; /* Adjust as needed */
    margin: 0 auto; /* Center the container */
}

img {
    width: 100%; /* Make the image responsive */
    height: auto;
    display: block; /* Remove any inline spacing */
}