.login-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  .title {
    font-size: 16px;
    font-weight: bold;
    color: grey; /* You can choose a color that fits your design */
    margin-bottom: 10px;
    text-align: left;
    font-style: italic;
  }
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color:grey; /* Bright blue background color */
    color: white; /* Text color */
    border: none;
    border-radius: 5px; /* Rounded corners */
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
  }
  
  .button:hover {
    background-color: grey; /* Slightly darker blue background color on hover */
  }