

<!--back-->
<link rel="stylesheet" href="/assets/back/vendors/mdi/css/materialdesignicons.min.css">
<link rel="stylesheet" href="/assets/back/vendors/flag-icon-css/css/flag-icon.min.css">
<link rel="stylesheet" href="/assets/back/vendors/css/vendor.bundle.base.css">
<!-- endinject -->
<!-- Plugin css for this page -->
<link rel="stylesheet" href="/assets/back/vendors/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="/assets/back/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
<!-- End plugin css for this page -->
<!-- inject:css -->
<!-- endinject -->
<!-- Layout styles -->
<link rel="stylesheet" href="/assets/back/css/style.css">
<!-- End layout styles -->
<link rel="shortcut icon" href="/assets/back/images/favicon.png" />

<div class="container-scroller">
<app-header-admin></app-header-admin>
  <br>
  <br>
  <div class="container-fluid page-body-wrapper">
  <app-side-admin></app-side-admin>
    <div class="main-panel">
   <router-outlet></router-outlet>



<div></div>
<div>
    <h1></h1>
</div>

<div class="col-md-6 offset-md-3">
   
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label class="title"> Delivery ID </label>
            <input type="text" class ="form-control" id = "id"
                [(ngModel)] = "delivery.deliveryId" name = "id">
        </div>
    
        <div class="form-group">
            <label class="title"> Delivery Address</label>
            <input type="text" class ="form-control" id = "address"
                [(ngModel)] = "delivery.deliveryAddress" name = "address">
        </div>
    
        <div class="form-group">
            <label class="title"> Delivery Done</label>
            <input type="text" class ="form-control" id = "status"
                [(ngModel)] = "delivery.isDelivered" name = "status">
        </div>

        <div class="form-group">
            <label class="title"> User Id</label>
            <input type="text" class ="form-control" id = "userid"
                [(ngModel)] = "delivery.userId" name = "userid">
        </div>
    
        <button class = "button" type ="submit">Submit</button>
    
    </form>
    </div> 
<!---->
<script src="/assets/back/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="/assets/back/vendors/chart.js/Chart.min.js"></script>
<script src="/assets/back/vendors/jquery-circle-progress/js/circle-progress.min.js"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="/assets/back/js/off-canvas.js"></script>
<script src="/assets/back/js/hoverable-collapse.js"></script>
<script src="/assets/back/js/misc.js"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="/assets/back/js/dashboard.js"></script>


